.header {
  color: white;
  background-color: blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.favouriteCount {
  display: inline-block;
  width: 40px;
  height: 36px;
  border: 1px solid rgb(8, 65, 156);
  color: rgb(15, 26, 138);
  text-align: center;
  border-radius: 50%;
  border-width: 4px;
  padding-top: 12px;
}
